@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Montserrat|Nanum+Myeongjo|Nanum+Pen+Script|Source+Sans+Pro|Varela+Round');


body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Varela Round', sans-serif;
    font-family: 'East Sea Dokdo', cursive;
  
    background-color: #353535;
}

h1{
    font-size: 52pt;
    font-family: 'Montserrat';
    text-align: center;
    color: #FFFFFF;
  }

p{
    font-size: 52pt;
    font-family: 'Montserrat';
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000000;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('og_image.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}